/*Manually style over rides*/

.reveal section ul li {
  margin-bottom: 20px;
}

.reveal section img {
     margin: auto;
     background: none;
     border: none;
     box-shadow: none;
}

.reveal section img.arena{
		height : 70%;
		width : 70%;
}


.reveal section img.killswitch{
		height : 60%;
		width : 60%;
}

.reveal section img.talks{
		height : 40%;
		width : 40%;
}

.reveal section img.footware{
		height : 20%;
		width : 20%;
}

body > div > div.backgrounds > div.slide-background.title.present{
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}
